<ion-view name="codigo-view" ng-init="DvPlataforma()" >
    
    <div class="bar bar-header item-input-inset" style="background-image: none;">
        <label class="item-input-wrapper">
            <input type="search" placeholder="Buscar" ng-model="libros.searchQuery" ng-enter="BtnBuscar();">
          <i class="icon ion-ios-search placeholder-icon"></i>
          
        </label>
    </div>


  <ion-content >
     <!-- <label class="item item-input">
        <i class="icon ionsearch placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="searchQuery"/>
      </label> 
    -->
  
  <div style="height: {{pixeles}}px;"></div>
    <div class="list list-inset">

      </div>
      <ion-list no-lines>
        <ion-item ng-model="categorias.id" class="stylecategorias" ng-repeat="categorias in listacategorias"  style="border-color:rgba(221, 221, 221, 0);font-weight: bold; font-size: {{fuenteCategoria}}px;"  href="#/tab/categorias/{{categorias.id}}">
          {{categorias.name}}
        </ion-item>

      </ion-list>

  </ion-content>
</ion-view>