<ion-view name="codigo-view" >
  <ion-content >
     <!-- <label class="item item-input">
        <i class="icon ionsearch placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="searchQuery"/>
      </label> 
    -->
    <div class="list list-inset">
        <label class="item item-input" style="border-style: none;background-color: rgb(248, 248, 248);">
          <i class="icon ion-search placeholder-icon" ></i>
          <input type="search" placeholder="Buscar" ng-model="searchQuery" >
        </label>
      </div>
      <ion-list no-lines>
        <ion-item ng-repeat="categorias in listacategorias | filter:searchQuery"  style="border-color:rgba(221, 221, 221, 0);font-size: 20px;font-weight: bold">
          {{categorias.name}}
        </ion-item>

      </ion-list>

  </ion-content>
</ion-view>