<ion-view ng-init="CategoriaLibros();">
        <div class="float-button" ng-click="BtnAtras()" style=" bottom: 93%; right: 90%">
                <span class="height-fix">
                      <a class="content">
                        <i class="ion-android-arrow-back"> </i>
                       </a>
                  </span>
            </div>
  <ion-content>
      <div class="images">
              <div class="one-image" ng-repeat="libro in libros" ng-model="libros.Id">
                  <img src="{{libro.libros.RutaThumbnails}}" class="image-rouder" width="100%" ng-click="newTask(libro.libros)">
              </div>
      </div>
  </ion-content>
</ion-view>
