<ion-view name="codigo-view" ng-init="Inicio()" cache-view="false">
    <div style="padding:11px">
        <h1 class="creditos">+{{TotalLibros}}</h1>
    </div>
    <ion-content  class="center">
        <center>
          <div class="row" id="anchotexto">
            <div class="col text-center fuentecodigo">
                Ingresa tu código para adquirir más libros
            </div>
          </div>
        </center>
        <div id="espaciocodigo"></div>
          <div class="row">
            <div class="col">
              <center>
                <input id="inputcodigo" type="text" name="txtCodigo" ng-model="codigos.codigo" ng-enter="BtnCodigo();" placeholder="Ingresa tu codigo" style="text-align:center;border: 0;border-bottom: 1px solid rgb(85, 79, 79);outline: 0;">
              </center>
            </div>
          </div>
          <div id="espaciocodigo"></div>
          <div class="row">
            <div class="col">
              <center>
                <button class="button button-block button-positive" id="botoncodigo" ng-click="BtnCodigo();" ng-disabled="FrmRegistro.$invalid || savingfrm == true">
                    Aceptar
                </button>
              </center>
            </div>
        </div>
    </ion-content>
  </ion-view>