<ion-view name="login-view" >
  <ion-content>
    <div class="center_div">
      <div class="row">
          <div class="col">
              <center>Aun no cuentas con ningun libro,para adquirirlos ingresa tu codigo de n digitos</center>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <center><input type="text" placeholder="Ingresa tu codigo"></center>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive">
                Aceptar
            </button>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>