<ion-view name="mislibros-view" ng-init="BtnCodigo()" cache-view="false">
        <ion-content>    
            <div class="images">
                <center>
                    <div class="one-image" ng-repeat="libro in Libros" ng-click="DescargarLibro(libro)">
                        <!--progress-circle amount="75" color="#fffffe" fill="#565656" text="75" class="ProgresBar" stroke-width="5" trail-color="#565656" trail-width="8"></progress-circle>-->
                        <round-progress class="ProgresBar"
                        max="100"
                        current="libro.current"
                        color="#fffffe"
                        bgcolor="#565656"
                        radius="25"
                        stroke="5"
                        semi="false"
                        rounded="false"
                        clockwise="true"
                        responsive="false"
                        duration="250"
                        animation="easeInOutQuart"
                        animation-delay="0"
                        ng-show="libro.Descarga"></round-progress>
                        <img ng-src="{{libro.ruta}}" class="image-rouder" width="100%">
                        <a class="content" ng-show="libro.FlechaVisible">
                            <i class="ion-arrow-down-a"></i>
                        </a>
                        <ion-spinner class="spinner" icon="android" ng-show="libro.Spinner"></ion-spinner>
                    </div>
                </center>
            </div>
        </ion-content>
</ion-view>