<ion-view name="mislibros-view" ng-init="BtnCodigo()">
        <ion-content>
            <ul class="dynamic-grid" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="false" >
                <li data-ng-repeat="libro in Libros" class="grid" data-ng-clock>
                    Test<img ng-src="img/ben.png" class="grid-img" data-actual-width = "{{libro.width}}"  data-actual-height="{{libro.height}}" />
                </li>
            </ul>
        </ion-content>
</ion-view>