<ion-view ng-init="Inicio()"> 
     <!--<div id="controls" class="controls">
        <div id="leftcontrols" class="leftcontrols">
            <span ng-bind="Hojas.HojaActual" style="color: white;padding-left: 10px;">#</span>
        </div>
        <div id="centercontrols" class="centercontrols">
                <button id="btnSeparador" title="Separador" class="btn" ng-click="BtnSeparador()"><i class="fa fa-bookmark fa-lg" ></i></button>
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-star fa-lg" ></i></button>
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-list-ul fa-lg" ></i></button>
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-sticky-note fa-lg" ></i></button>
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-pencil-square-o fa-lg" ></i></button>
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-underline fa-lg" ></i></button>
        </div>
        <div id="rightcontrols" class="rightcontrols">
                <button id="btnSeparador" title="Separador" class="btn"><i class="fa fa-times fa-lg" ></i></button>
        </div>
    </div>-->
    <ion-content scroll="true" direction="x" style="overflow-x: scroll" scrollX="true">
       <ion-scroll id="contenedorLibro" on-touch="ontouchPagina()" on-drag-right="onDragPagina(1)" on-drag-left="onDragPagina(0)" delegate-handle="handler" on-scroll="test()" zooming="true" direction="y" overflow-scroll="true" min-zoom="1" style="width: 100%;height: 100%;">
        <!--<div  id="contenedorLibro" style="width: 100%;height: 100%;">-->
           <div id="page{{hoja.NumHoja}}" class="page" style="width: 350px;height: 500px;" ng-repeat="hoja in HojasLibro" on-double-tap="DoubleTap(hoja.NumHoja)" on-hold="Tap(hoja.NumHoja)">
                <div id="page-inner{{hoja.NumHoja}}" class="page-inner"  style="width: 909px; height: 1299px;transform:translateX(0px) translateY(0px) scale(0.384953233)">
                </div>
            </div>
        <!--</div>-->
        </ion-scroll>
    </ion-content>
    <ion-floating-menu id="menuFlotante">
            <ion-floating-item icon="fa fa-underline fa-lg" click="myEvent()"></ion-floating-item>
            <ion-floating-item icon="fa fa-pencil-square-o fa-lg" click="myEvent()"></ion-floating-item>
            <ion-floating-item icon="fa fa-sticky-note fa-lg" click="myEvent()"></ion-floating-item>
            <ion-floating-item icon="fa fa-list-ul fa-lg" click="myEvent()"></ion-floating-item>
            <ion-floating-item icon="fa fa-star fa-lg" click="myEvent()"></ion-floating-item>
            <ion-floating-item icon="fa fa-bookmark fa-lg" click="myEvent()"></ion-floating-item>
    </ion-floating-menu>
 </ion-view>