<ion-view name="login-view" >
  <ion-content class="padding">
    <div class="spacer" style="height: 117px;"></div>
    <center>
        <div class="row">
          <div class="col col-90">
            <div class="card" >
              <div class="item item-text-wrap">
                <center><span style="color:#3B3B3B;font-size:13px;">Aun no cuentas con ningun libro,para adquirirlos ingresa tu codigo de n digitos</span></center>
                <div class="spacer" style="height: 50px;"></div>
                <div class="list">
                  <label class="item item-input">
                     <input type="text" placeholder="Ingresa tu codigo" ng-model="librocodigo.Codigo">
                  </label>
                  <div class="item">
                  <div class="spacer" style="height: 60px;"></div>
                  <button class="button button-light button-small button-block button-outline" style="color:#78777E;border-radius:px 0px 0px 0px;" ng-click="Eduardo()">Iniciar Sesion</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        </center>
  </ion-content>
</ion-view>