/* Empty. Add your own CSS if you like */
.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}
.center-div {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.dynamic-grid{
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid{
    display: block;
}

.grid {
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    overflow: hidden;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

@media (min-width: 0px) {
    .images {
        column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 3;
        /*column-gap: 0px;*/
        padding: 10px;
    }
    .one-image {
        margin: 2px;
        width: 159px;
    }
}

@media (min-width: 420px) {
    .images {
        column-count: 3;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        /*column-gap: 0px;*/
        padding: 10px;
    }
    .one-image {
        margin: 2px;
        width: 192px;
    }
}

@media (min-width: 720px) {
    .images {
        column-count: 4;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 3;
        column-gap: 0px;
    }
}

.image-rouder{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
}