/* Empty. Add your own CSS if you like */
.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin:0 auto;
    width:100%;
}
.center-div {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.dynamic-grid{
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid{
    display: block;
}

.grid {
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    overflow: hidden;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

@media (min-width: 0px) {
    .images {
        column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        /*column-gap: 0px;*/
        padding: 10px;
    }
    .one-image {
        margin: 2px;
        width: 159px;
        position:relative;
    }
    .stylecategorias{
        padding-bottom: 0px;
        font-size: 24px;
    }
    .item-input-wrapper{
        height: 40px;
    }


}

@media (min-width: 420px) {
    .images {
        column-count: 3;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        /*column-gap: 0px;*/
        padding: 10px;
    }
    .one-image {
        margin: 2px;
        width: 192px;
        position:relative;
    }
    .stylecategorias{
        padding-bottom: 5px;
        font-size: 28px;
    }
   /*Estilos para la barra de búsqueda*/
   .bar-header{
    height: 200px;
    }
    .item-input-wrapper{
        height: 40px;
    }

    #inputbusqueda::-webkit-input-placeholder{
        font-size: 25px;
        margin-bottom: 0px;
    }
    #inputbusqueda{
        font-size: 25px;
        margin-bottom: 0px;
    }
    /*Estilo de div para que la barra de busqueda y als categorìas queden separados*/
    .espaciocategorias{
        height: 10px;
    }

}

@media (min-width: 720px) {
    .images {
        column-count: 4;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 3;
        column-gap: 0px;
    }
    .one-image {
        margin: 2px;
        width: 230px;
        position:relative;
    }
    .stylecategorias{
        padding-bottom: 10px;
        font-size: 33px;
    }
    /*Estilos para la barra de búsqueda*/
    .bar-header{
        height: 90px;
    }                
    .item-input-wrapper{
        height: 40px;
    }

    #inputbusqueda::-webkit-input-placeholder{
        font-size: 25px;
        margin-bottom: 0px;
    }
    #inputbusqueda{
        font-size: 25px;
        margin-bottom: 0px;
    }
    /*Estilo de div para que la barra de busqueda y als categorìas queden separados*/
    .espaciocategorias{
        height: 10px;
    }
    /*Estilo para el número del tab de código*/
    .creditos{
        font-size: 50px;
    }
    /*Estilos para texto de ingresar código*/
    .fuentecodigo{
        font-size: 20px;
        line-height: 30px;        
    }
    #anchotexto{
        width: 55%;
        border: 1px solid black;
        }
    
    /*Estilos para input de ingresar código*/
    #inputcodigo{
        width: 50%;
        font-size: 20px;
        margin-bottom: 0px;
    }
    #inputcodigo::-webkit-input-placeholder{
        font-size: 20px;
        margin-bottom: 0px;
        text-align: center;
    }

    /*Estilo para botón de aceptar en  ingresar código*/
    #botoncodigo{
        width: 50%;
        font-size: 20px;
    }

    #espaciocodigo{
        height: 10px;
    }
    
}

@media (min-width: 1024px) {
    .images {
        column-count: 4;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
        column-gap: 0px;
    }
    .one-image {
        margin: 2px;
        width: 230px;
        position:relative;
    }
    .stylecategorias{
        padding-bottom: 20px;
        font-size: 40px;
    }
     /*Estilos para la barra de búsqueda*/
    .bar-header{
        height: 90px;
    }
    .item-input-wrapper{
        height: 60px;
    }

    #inputbusqueda::-webkit-input-placeholder{
        font-size: 25px;
        margin-bottom: 0px;
    }
    #inputbusqueda{
        font-size: 25px;
        margin-bottom: 0px;
    }
    /*Estilo de div para que la barra de busqueda y als categorìas queden separados*/
    .espaciocategorias{
        height: 45px;
    }
     /*Estilo para el número del tab de código*/
     .creditos{
        font-size: 55px;
    }
}

.image-rouder{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 15px;
}
.float-button {
    
   background-color:#565656;
   opacity: 0.7;
   color: white;
   border-radius: 50%;
   /*border-radius:15% 0 0 0;*/
   width: 30px;
   padding: 25px;
   font-size: 40px;
   position: fixed;
   bottom: 88%; /* Adjust height */
   right: 80%; /* Adjust position */
   z-index: 1000;
   }
    
   .float-button .height_fix {
     margin-top: 100%;
     border: 1px solid red;
   }
    
   .float-button .content {
     position: absolute;
     left: 0;
     top: 50%;
     height: 100%;
     width: 100%;
     text-align: center;
     margin-top: -20px;
     color: white;
   }
   .ProgresBar{
        position: absolute;
        opacity: 0.7;
        width: 29%;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
   }
   .one-image .content {
    position: absolute;
    text-align: center;
    color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
  }
  .one-image .spinner {
    position: absolute;
    text-align: center;
    color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    stroke: white;
  }